/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --main-color: rgb(31, 54, 61);
    --secundary-color: #70a9a1;
    --accent-color: #f2cb05;
    --main-font: 'Lexend Deca', sans-serif;
    --second-font: 'Montserrat', sans-serif; 
}

html {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.link {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--secundary-color);
    transition: color 400ms ease-in-out;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.link:hover {
    color: var(--accent-color);
}

.link.active {
    color: var(--accent-color);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    background-image: url(/media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
}

.home-logo {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 2rem;
}

.home-text {
    max-width: 900px;
    padding: 1rem;
    font-size: 5rem;
    text-align: center;
    color: var(--accent-color);
    margin: 2rem;
    letter-spacing: 1px;
    text-shadow: 4px 3px 0 var(--main-color);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.section h2 {
    font-size: 5rem;
    text-align: center;
    text-shadow: 4px 3px 0 var(--main-color);
    color: var(--secundary-color);
}

.card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: var(--secundary-color);
    margin: 2rem;
    padding: 1rem;
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* responsive */
@media only screen and (min-width: 250px) and (max-width: 750px) {
    /* styles */
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .home-logo {
        width: 100%;
        max-width: 95%;
        padding: 1rem;
        margin: 2rem;
    }


}











